<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876899813106-rtdo7hu56d4tiif5025vojtbhuah7asu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876899813106-rtdo7hu56d4tiif5025vojtbhuah7asu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>876899813106-ei8temarqnti8hc8kursbntd6soocmtn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCamLf6RWXaOwZSkDrRjrXaNRQAkpf27a8</string>
	<key>GCM_SENDER_ID</key>
	<string>876899813106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.a230913</string>
	<key>PROJECT_ID</key>
	<string>audio-test-7d63a</string>
	<key>STORAGE_BUCKET</key>
	<string>audio-test-7d63a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876899813106:ios:f522793d93727dbc09b26b</string>
</dict>
</plist>